{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<header>
    <h1>Office du sport à Villeurbanne</h1>
</header>

<div class="container m-4">
    <section id="presentation">
        <h2>Bienvenue sur le site du sport à Villeurbanne !</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque accusantium explicabo, totam illum eos
            aspernatur minus, temporibus facilis nisi architecto voluptatum nobis similique quasi ratione recusandae
            praesentium magni animi! Provident ullam, iure tempora veniam, repellendus enim praesentium dolorem quod
            asperiores laudantium neque ad corrupti, aperiam doloremque optio in? Cumque assumenda doloribus ratione
            maiores blanditiis tempore nostrum voluptates dignissimos fugiat. Fugiat nihil praesentium aut rerum qui ea
            accusantium illum, obcaecati et at nisi harum, culpa quaerat. Quibusdam laudantium rem non omnis impedit
            fugit quam. Aliquid error dolorum eius voluptatum recusandae fugiat fuga excepturi eligendi placeat impedit
            veritatis ex iure, enim nesciunt. Voluptas, consequatur? Odit provident totam dolores culpa corporis
            praesentium sequi ab aspernatur, distinctio ut doloribus explicabo eum molestiae eaque placeat, sed officia
            accusamus ratione! Iusto dolore recusandae maxime quas porro perspiciatis harum dolorem soluta obcaecati. A
            minima quas magnam illum incidunt cupiditate, impedit necessitatibus vitae earum, animi laboriosam
            voluptatum inventore sit. Aut repellendus et optio obcaecati quod nihil deleniti ad, ipsa eius ratione at
            voluptates iure vero doloribus voluptate vel quidem sunt alias commodi facere consequatur officiis. Maxime
            quasi et nulla officia cumque labore maiores sequi fugit soluta hic doloremque in, adipisci debitis, sit
            atque voluptate. Debitis nisi aliquid nostrum!</p>
    </section>
</div>




{% endblock %}