<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div id="logofooter"></div>
                <p class="mt-2">sport@osvilleurbanne.com<br>
                    04 78 68 92 44</p>
            </div>
            <div class="col-md-4">
                <h3>Office du Sport de Villeurbanne</h3>
                <p>70 rue du docteur Rollet<br>
                    69100 VILLEURBANNE</p>
                <p>Lundi : 13h30 - 17h00 <br>
                    Du mardi au vendredi :<br>
                    8h30 - 12h00 / 13h30 - 17h00</p>
            </div>
            <div class="col-md-4">
                <h4>Suivez-nous</h4>
                <p><i class="fa-brands fa-facebook "></i><i class="fa-brands fa-instagram"></i></p>
            </div>
        </div>
    </div>

</footer>