body {
    margin : 0;
    padding : 0;
}

nav {
    display : flex;
    height : 150px;
    justify-content: space-around;
    align-items: center;
}

#logo {
    height : 100px;
    width : 200px;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
}

#navbar ul {
    display : flex;
}
#navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Itim';
    font-size: 20px;

}

#navbar ul li {
    list-style-type: none;
    margin : 20px;
}


header {
    height : 500px;
    background-image: url(../images/header.jpeg);
    background-position: bottom 100px;
    background-size: cover;
    display : flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Itim';
    font-size: 60px;
    color: white;
    text-shadow: 0 0 1px black;
}

#presentation {
    text-align: center;
}

h2 {
    font-family: 'Itim';
}